{{#isQueryParam}}val {{paramName}}Lens = Query.{{dataFormat}}().{{#required}}required{{/required}}{{^required}}optional{{/required}}("{{paramName}}"){{/isQueryParam}}{{#isPathParam}}val {{paramName}}Lens = Path.{{dataFormat}}().of("{{paramName}}"){{/isPathParam}}{{#isHeaderParam}}val {{paramName}}Lens = Header.{{dataFormat}}().{{#required}}required{{/required}}{{^required}}optional{{/required}}("{{paramName}}"){{/isHeaderParam}}{{#isCookieParam}}val {{paramName}}Lens = Cookies.{{dataFormat}}().{{#required}}required{{/required}}{{^required}}optional{{/required}}("{{paramName}}"){{/isCookieParam}}{{#isBodyParam}}val {{paramName}}Lens = Body.auto<{{{dataType}}}>().toLens(){{/isBodyParam}}